{{- $account := CurrentAccount -}}
<h1 class="logo"><a href="/" title="{{ Info.Title }}">{{ Info.Title | Name }}</a></h1>
<nav class="sections">
    <ul class="inline">
{{- range $key, $value := Menu -}}
{{- if $value.IsCurrent }}
        <li><a>{{ icon $value.Icon }} /{{$value.Name}}</a></li>
{{- else }}
{{- if or (and $value.Auth $account.IsLogged) (not $value.Auth) }}
        <li><a href="{{$value.URL}}">{{ icon $value.Icon }} /{{$value.Name}}</a></li>
{{- end }}
{{- end }}
{{- end }}
    </ul>
</nav>
{{- $providers := getProviders -}}
<nav class="top">
    <ul class="inline">
        <li><a id="top-invert" title="Invert colours" href="/#invert">{{ icon "adjust" }}</a></li>
{{- if $account.IsLogged }}
        <li class="acct"><a class="by" href="{{ $account | AccountPermaLink }}">{{$account.Handle}}</a> <span class="score">{{$account.Score | ScoreFmt}}</span></li>
        <li class=""><a href="/logout">Log out</a></li>
{{- end }}
        <li class=""><a href="/submit">Add</a></li>
{{- if Config.SessionsEnabled }}
{{- if not $account.IsLogged }}
        <li class="auth-local"><a href="/login" title="Local auth" class="auth littr">Log in</a></li>
{{- range $key, $value := $providers -}}
        <li class=""><a href="/auth/{{$key}}" title="{{$value}} auth" class="auth">{{ icon $key }}</a></li>
{{ end -}}
{{- end -}}
{{- end }}
    </ul>
</nav>
{{- template "partials/flash" -}}
