{{- $account := CurrentAccount }}
<h1><a href="/">{{ Config.Name | Name }}</a></h1>
<menu class="tabs">
{{- range $key, $value := Menu -}}
{{- if $value.IsCurrent }}
    <li><a aria-current="page" href="#">{{ icons $value.Icon }} <span>{{$value.Name}}</span></a></li>
{{- else }}
{{- if or (and $value.Auth $account.IsLogged) (not $value.Auth) }}
    <li><a rel="directory" href="{{$value.URL}}">{{ icons $value.Icon }} <span>{{$value.Name}}</span></a></li>
{{- end -}}
{{- end -}}
{{- end }}
</menu>
<menu>
{{- if $account.IsLogged }}
{{ $score := $account.Votes.Score}}
    <li>
        <a rel="mention" href="{{ $account | PermaLink }}">{{$account.Handle}}</a>
        <small><data class="score {{ $score | ScoreClass -}}" value="{{$score | NumberFmt }}">{{$account.Votes.Score | ScoreFmt}}</data></small>
    </li>
    <li><a href="/logout">Log out</a></li>
{{- end }}
{{- if SessionEnabled }}
{{- if not $account.IsLogged }}
{{- if Config.UserCreatingEnabled }}
    <li class="register-local"><a href="/register" title="Register a new account" class="register littr">Register</a></li>
{{- end }}
    <li><a href="/login" title="Authentication" class="auth local">Log in</a></li>
{{- end -}}
{{- end }}
</menu>
{{ template "partials/flash" -}}
