<meta charset="UTF-8">
<title>{{.Title}}</title>
{{- if CanPaginate . -}}
{{- if .PrevPage.IsValid }}
<link href="{{ .PrevPage | PrevPageLink }}" rel="prev prefetch" />
{{end -}}
{{- if .NextPage.IsValid }}
<link href="{{ .NextPage | NextPageLink }}" rel="next prefetch" />
{{end -}}
{{end }}
<style>{{ style "inline.css" }}</style>
<link rel="stylesheet" href="/css/{{- current -}}.css" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="rebeccapurple" />
<meta name="description" content="Link aggregator inspired by reddit and hacker news using ActivityPub federation."/>
