<meta charset="UTF-8">
<title>{{.Title}}</title>
{{ if eq current "listing" }}
{{- if gt .PrevPage 0 }}
<link href="{{ .PrevPage | PageLink }}" rel="next" rel="prefetch" />
{{end -}}
{{- if gt .NextPage 0 }}
<link href="{{.NextPage | PageLink }}" rel="prev" />
{{end -}}
{{end}}
<link rel="stylesheet" href="/css/main.css" />
<style>
svg.icon { height: 1em; width: 1em; fill: WindowText; }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color"/>
<meta name="Description" content="Link aggregator inspired by reddit and hacker news using ActivityPub federation."/>
