<meta charset="UTF-8">
<title>{{.Title}}</title>
{{- if and (not Config.Env.IsDev) (CanPaginate .) -}}
{{- if .PrevPage.IsValid }}
<link href="{{ .PrevPage | PrevPageLink }}" rel="prev prefetch" />
{{end -}}
{{- if .NextPage.IsValid }}
<link href="{{ .NextPage | NextPageLink }}" rel="next prefetch" />
{{end -}}
{{end }}
{{- if eq current "user" -}}
{{- $user := .User -}}
{{- if $user.HasMetadata -}}
{{- if gt (len $user.Metadata.AuthorizationEndPoint) 0 -}}
<link href="{{ $user.Metadata.AuthorizationEndPoint }}" rel="authorization_endpoint" />
{{ end -}}
{{- if gt (len $user.Metadata.TokenEndPoint) 0 -}}
<link href="{{ $user.Metadata.TokenEndPoint }}" rel="token_endpoint" />
{{ end -}}
{{ end -}}
{{- end -}}
<style>{{ style "inline.css" }}</style>
<link rel="stylesheet" href="/css/{{- current -}}.css" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="rebeccapurple" />
<meta name="description" content="Link aggregator inspired by reddit and hacker news using ActivityPub federation."/>
