<ol class="items">
{{- range $key, $value := . -}}
{{- if IsComment . }}
    <li data-index="{{$key}}" data-hash="{{.Hash}}" id="item-{{.Hash}}">
    {{- template "partials/item" $value }}
    </li>
{{ end -}}
{{- if IsFollowRequest . }}
    <li data-index="{{$key}}" data-hash="{{.Hash}}" id="follow-{{.Hash}}">
    {{- template "partials/follow" $value }}
    </li>
{{ end -}}
{{- if IsAccount . }}
    <li data-index="{{$key}}" data-hash="{{.Hash}}" id="account-{{.Hash}}">
    {{- template "partials/account" $value }}
    </li>
{{ end -}}
{{- end }}
</ol>
