<aside class="meta">
    submitted <time datetime="{{ .ISODate }}" title="{{ .ISODate }}">{{ .FromNow }}</time>
    {{- if .SubmittedBy }} by <a class="by" href="/~{{ .SubmittedBy }}">{{ .SubmittedBy }}</a>{{end}}
    <menu class="meta-items">
        {{if .PermaLink }}<li><a href="{{.PermaLink}}" class="to-item" title="Go to discussion"></a></li>{{end}}
        {{if .ParentLink }}<li><a href="{{.ParentLink}}" class="to-parent" title="Go to parent"></a></li>{{end}}
        {{if not .IsTop }}<li><a href="{{.OPLink}}" class="to-op" title="Go to original post"></a></li>{{- end}}
    </menu>
</aside>
