{{ $vote := CurrentAccount.VotedOn . }}
<aside class="score align-self-start col-1" data-score="{{if .Deleted}}-1{{else}}{{ .Score | ScoreFmt }}{{end}}" data-hash="{{.Hash}}">
    <a href="{{. | YayLink}}" class="yay{{if $vote | IsYay }} ed{{end}}" data-action="yay" data-hash="{{.Hash}}" rel="nofollow"></a>
    <data>{{if .Deleted}}&#9851;{{else}}{{ .Score | ScoreFmt }}{{end}}</data>
    <a href="{{. | NayLink}}" class="nay{{if $vote | IsNay }} ed{{end}}" data-action="nay" data-hash="{{.Hash}}" rel="nofollow"></a>
</aside>
