{{- if .Item.Title -}}
<header>
<h2 data-hash="{{.Hash}}" class="title">
{{- if .IsLink -}}
<a class="titles" data-hash="{{.Hash}}" href="{{.Data | printf "%s"}}">{{- .Title -}}</a>
{{- else -}}{{- .Title -}} <a href="{{ .Item | ItemPermaLink }}" class="to-item" title="Permalink{{if .Item.Title}}: {{.Title }}{{end}}"></a>{{- end -}}
</h2>
{{- $domain := .GetDomain -}}
<aside class="domain">
<a title="{{- if .IsLink -}}All items from {{$domain}}{{- else -}}Discussions only{{- end -}}" href="/d{{- if .IsLink -}}/{{$domain}}{{- end -}}">{{- if .IsLink -}}{{$domain}}{{- else -}} discussion {{- end -}}</a>
</aside>
{{- if .Item.IsFederated -}}
{{- end -}}
</header>
{{- end -}}
