{{- if .Item.Title -}}
<header>
<h2 data-hash="{{.Hash}}" class="title">
{{- if .IsLink -}}
<a class="titles" data-hash="{{.Hash}}" href="{{.Data | printf "%s"}}">{{- .Title -}}</a>
{{- else -}}{{- .Title -}}{{- end -}}
</h2>
<aside class="domain">
<a title="{{- if .IsLink -}}All links from {{.GetDomain}}{{- else -}}All local links{{- end -}}" href="{{- if .IsLink -}}/d/{{.GetDomain}}{{- else -}} /self {{- end -}}">{{- if .IsLink -}}{{.GetDomain}}{{- else -}} self {{- end -}}</a>
</aside>
</header>
{{- end -}}
