{{- $count := .Requests | len -}}
{{ $count }} {{ $count | pluralize "user" }} {{ . | RenderLabel | pasttensify }} <a href="{{ .Object | PermaLink }}">this {{ .Object | RenderLabel }}</a>
{{- range $reason := .Requests -}}
<details title="{{ $reason.SubmittedAt | TimeFmt }}"><summary>Reason:</summary>
    {{- if eq .MimeType "text/html" -}}{{- replaceTags "text/html" $reason | HTML -}}{{- end -}}
    {{- if eq .MimeType "text/markdown" -}}{{- replaceTags "text/markdown" $reason | Markdown -}}{{- end -}}
    {{- if eq .MimeType "text/plain" -}}{{- $reason.Data | Text -}}{{end}}
</details>
{{- end -}}
{{- range $followup := .Followup -}}
<details title="{{ $followup.SubmittedAt | TimeFmt }}"><summary>Followup:</summary>
    {{ $followup | RenderLabel | pasttensify }} by <a rel="mention" href="{{ $followup.SubmittedBy | PermaLink }}">{{ $followup.SubmittedBy | ShowAccountHandle }}</a>
    with reason:<br/>
    {{- if eq .MimeType "text/html" -}}{{- replaceTags "text/html" $followup | HTML -}}{{- end -}}
    {{- if eq .MimeType "text/markdown" -}}{{- replaceTags "text/markdown" $followup | Markdown -}}{{- end -}}
    {{- if eq .MimeType "text/plain" -}}{{- $followup.Content | Text -}}{{end}}
</details>
{{- end -}}
