{{- if .Deleted -}}
<del class="titles" data-hash="{{.Hash}}">deleted</del>
{{- else -}}
<article class="data{{if ShowText}} {{ .MimeType | sluggify }}{{if not .Title}} comment{{end}}{{- end -}}">
{{- template "partials/item/title" . -}}
{{- if .IsSelf -}}
{{if or ShowText (not .Title) }}
{{- if eq .MimeType "text/html" -}}{{- replaceTags . | HTML -}}{{- end -}}
{{- if eq .MimeType "text/plain" -}}{{- .Data | Text -}}{{end}}
{{- if eq .MimeType "text/markdown" -}}{{- replaceTags . | Markdown -}}{{- end -}}
{{end}}
{{- end -}}
</article>
{{- end -}}
