{{ $score := .Score }}
<aside class="score" data-score="{{if .Deleted}}-1{{else}}{{ $score | ScoreFmt }}{{end}}" data-hash="{{.Hash}}">
    <noscript>Score: </noscript>
    {{- $account := CurrentAccount -}}
    {{- $vote := $account.VotedOn . -}}
    {{ if Config.VotingEnabled }}<a href="{{if and (not .Deleted) $account.IsLogged }}{{ . | YayLink}}{{ else }}#{{ end }}" class="yay{{if and (not .Deleted) (IsYay $vote) }} ed{{end}}" data-action="yay" data-hash="{{.Hash}}" rel="nofollow" title="yay">{{icon "plus"}}</a>{{ end }}
    <data{{if not .Deleted}} class="{{- $score | ScoreClass -}}" value="{{.Score | NumberFmt }}"{{end}}>
        <small>{{- if .Deleted}}{{ icon "recycle" }}{{else}}{{ $score | ScoreFmt }}{{end -}}</small>
    </data>
    {{ if Config.VotingEnabled }}{{ if Config.DownvotingEnabled }}<a href="{{if and (not .Deleted) $account.IsLogged }}{{ . | NayLink}}{{ else }}#{{ end }}" class="nay{{if and (not .Deleted) (IsNay $vote) }} ed{{end}}" data-action="nay" data-hash="{{.Hash}}" rel="nofollow" title="nay">{{icon "minus"}}</a>{{ end }}{{ end }}
</aside>
