{{- if .Title -}}
<header>
<h2 data-hash="{{.Hash}}" class="title">
{{- if .IsLink -}}
    <a class="titles" rel="external" data-hash="{{.Hash}}" href="{{.Data | printf "%s"}}">{{- .Title -}}</a>
{{- else -}}
    {{- .Title -}}
{{- end }}
</h2>
{{ if .Public }}
<nav><ul>
    <li><a rel="bookmark canonical" href="{{ . | ItemPermaLink }}">permalink</a></li>
{{- $domain := .GetDomain -}}
    <li>
        <a rel="directory" href="/d{{- if .IsLink -}}/{{$domain}}{{- end -}}">{{- if .IsLink -}}{{$domain}}{{- else -}} discussion {{- end -}}</a>
    </li>
</ul></nav>
{{- end -}}
</header>
{{- end -}}
{{ if .Private }}
<nav><dl class="recipients">
{{ if gt (len .Metadata.To) 0 -}}
    <dt>To:</dt>
    {{- range $it := .Metadata.To }}
    <dd><a class="by" href="{{ $it | AccountPermaLink }}">{{ $it | ShowAccountHandle }}</a></dd>
    {{ end -}}
{{- end }}
{{ if gt (len .Metadata.CC) 0 -}}
    <dt>CC:</dt>
    {{- range $it := .Metadata.CC }}
    <dd><a class="by" href="{{ $it | AccountPermaLink }}">{{ $it | ShowAccountHandle }}</a></dd>
    {{ end -}}
{{- end }}
</dl></nav>
{{- end -}}
