{{- if ShowTitle . }}
<header>
<h2 data-hash="{{.Hash}}">
{{- if .IsLink -}}
    {{- if .Title -}}{{- .Title -}}{{ else }} Untitled {{ itemType .MimeType -}} {{- end }} <a rel="external" data-hash="{{.Hash}}" href="{{ .Data | printf "%s" }}">&#167;</a>
{{- else -}}
    {{- if .Title -}}{{- .Title -}}{{ else }} Untitled {{ itemType .MimeType -}} {{- end -}}
{{- end -}}
{{ if and (eq current "listing") .Public }}
{{- $domainUrl := GetDomainURL . }}
{{- $domainTitle := GetDomainTitle . }}
    <small><a rel="directory" href="/d{{- if .IsLink -}}/{{$domainUrl}}{{- end -}}">{{- if .IsLink -}}{{$domainTitle}}{{- else -}} discussion {{- end -}}</a></small>
{{ end -}}
</h2>
</header>
{{- end -}}
