{{- if .Deleted -}}
<del class="title" data-hash="{{.ID}}">deleted</del>
{{- else -}}
{{- if ShowTitle . }}
<header>
<h2 data-hash="{{.ID}}">
{{- if .IsLink -}}
    <a rel="external noreferrer" data-hash="{{.Hash}}" href="{{.Data | printf "%s"}}">{{- if .Title -}}{{- .Title -}}{{ else }} Untitled {{ itemType .MimeType -}} {{- end -}}</a>
{{- else -}}
    {{- if .Title -}}{{- .Title -}}{{ else }} Untitled {{ itemType .MimeType -}} {{- end -}}
{{- end -}}
</h2>
{{- template "partials/item/domain" . -}}
</header>
{{- end -}}
{{- end -}}
