{{ $current := .Account }}
<form method="post" action="/register">
    <fieldset>
        <legend>{{- if $current.IsValid -}}Account from invitation{{- else -}}New account{{- end -}}</legend>
        {{ csrfField }}
{{- if $current.IsValid }}
        <input name="hash" type="hidden" value="{{$current.Hash}}" />
{{- end }}
        <label for="new-acct-handle">Handle:</label><br/>
        <input name="handle" id="new-acct-handle" type="text" autocomplete="username" size="40" {{if $current.IsValid }}value="{{$current.Handle}}"{{ end }} required autofocus /><br/>
        <label for="new-acct-pw">Password:</label><br/>
        <input name="pw" id="new-acct-pw" type="password" autocomplete="new-password" minlength="8" size="40" required /><br/>
        <label for="new-acct-pw-confirm">Confirm password:</label><br/>
        <input name="pw-confirm" id="new-acct-pw-confirm" type="password" autocomplete="new-password" minlength="8" size="40" required /><br/>
        <button type="submit">Register</button>
        {{/*<label class="new-acct-details details-agree">
            <input type="checkbox" name="agree" id="new-acct-agree" value="y" />
            I agree not to be a dick to other people.
        </label>*/}}
    </fieldset>
</form>
