<form method="post">
    <fieldset {{ if .Content.Hash }}data-reply="{{.Content.Hash }}"{{end}}>
        <label for="submit-data">{{- if .Content.Edit -}}Edit{{- else -}}{{ if not .Content.Hash }}New{{else}}Comment{{ end }}{{- end -}}: </label><br/>
        <textarea {{if not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}} readonly="readonly" {{ end -}}name="data" id="submit-data" cols="80" rows="5" required>{{- if .Content.Edit -}}{{- .Content.Data -}}{{- end -}}{{if not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}} You must login to be able to comment {{ end -}}</textarea><br/>
{{- if not .Content.Hash -}}
        <label for="submit-title">Title: </label><br/>
        <textarea {{if not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}} readonly="readonly" {{ end -}} name="title" id="submit-title" rows="2" required>{{- if .Content.Edit -}}{{- .Content.Title -}}{{- end -}}</textarea><br/>
{{- end -}}
{{- if .Content.Hash -}}
{{- if .Content.Edit }}
        <input type="hidden" name="hash" id="submit-self" value="{{ .Content.Hash }}"/>
{{- else }}
        <input type="hidden" name="parent" id="submit-parent" value="{{ .Content.Hash }}"/>
{{- if and .Content.OP.IsValid }}
        <input type="hidden" name="op" id="submit-op" value="{{ .Content.OP.Hash }}"/>
{{- end -}}
{{- end -}}
{{- end }}
        {{ csrfField }}
        <input type="hidden" name="mime-type" id="submit-mime-type" value="text/markdown"/>
        <button {{if not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}} disabled="disabled" {{ end -}}type="submit">{{- if .Content.Edit -}}{{icon "edit" }} Edit{{- else -}}{{ if not .Content.Hash }}{{icon "reply" "h-mirror" "v-mirror"}} Submit{{else}}Reply {{icon "reply" "h-mirror" }}{{end}}{{end}}</button>
        {{- /* }}
        <label class="mime-type" title="text/markdown"><input type="radio" name="mime_type" value="text/markdown" checked="checked"/> self</label>
        <label class="mime-type" title="text/html"><input type="radio" name="mime_type" value="text/html"/> html</label>
        {{ if not .Content.Hash }}<label class="mime-type" title="application/url"><input type="radio" name="mime_type" value="application/url"/> url</label>{{end}}
        {{ */}}
    </fieldset>
</form>
