{{- $readonly:=not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}}
{{- $label := "" -}}
{{- $hash := "" -}}
{{- $edit := false -}}
{{- $title := "" -}}
{{- $data := "" -}}
{{- $op := "" -}}
{{- $back := "/" -}}
{{- $showTitle := false -}}
{{- if eq current "block" -}}
{{- $label = printf "Block %s:" .User.Handle -}}
{{- $back = ( AccountPermaLink .User) -}}
{{- else -}}
{{- if eq current "user-message" -}}
{{- $label = printf "Message %s:" .User.Handle -}}
{{- $back = ( AccountPermaLink .User) -}}
{{- $showTitle = true -}}
{{- else -}}
{{- $hash = .Content.Hash -}}
{{- $showTitle = eq (len $hash) 0 -}}
{{- $edit = .Content.Edit -}}
{{- $title = .Content.Title -}}
{{- $data = .Content.Data -}}
{{- $back = ( ItemPermaLink .Content) -}}
{{- if .Content.OP.IsValid -}}
{{- $op = .Content.OP.Hash -}}
{{- end -}}
{{- if not .Content.Hash -}}
{{- $label = "New:" -}}
{{- $back = "/" -}}
{{-  else -}}
{{- if .Content.Edit -}}
{{- $label = "Edit:" -}}
{{- else -}}
{{- $label = "Comment:" -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
<form method="post">
    <fieldset {{ if $hash }}data-reply="{{ $hash }}"{{end}}>
        <label for="submit-data">{{ $label }}</label><br/>
        <textarea {{if $readonly -}} disabled {{ end -}}name="data" id="submit-data" cols="80" rows="5" required>{{- if $edit -}}{{- $data -}}{{- end -}}{{if $readonly -}} You must authenticate to be able to comment {{ end -}}</textarea><br/>
{{- if $showTitle -}}
        <label for="submit-title">Title: </label><br/>
        <textarea {{if $readonly -}} disabled {{ end -}} name="title" id="submit-title" rows="2" required>{{- if $edit -}}{{- $data -}}{{- end -}}</textarea><br/>
{{- end -}}
{{- if $hash -}}
{{- if $edit }}
        <input type="hidden" name="hash" id="submit-self" value="{{  $hash }}"/>
{{- else }}
        <input type="hidden" name="parent" id="submit-parent" value="{{ $hash }}"/>
{{- if $op }}
        <input type="hidden" name="op" id="submit-op" value="{{ $op }}"/>
{{- end -}}
{{- end -}}
{{- end }}
        {{ csrfField }}
        <input type="hidden" name="mime-type" id="submit-mime-type" value="text/markdown"/>
        <button {{if $readonly -}}disabled {{ end -}}type="submit">{{ if not $hash }}{{icon "reply" "h-mirror" "v-mirror"}} Submit{{else}}{{- if $edit -}}{{icon "edit" }}Save{{- else -}}Reply {{icon "reply" "h-mirror" }}{{end}}{{end}}</button>
        <button {{if $readonly -}}disabled {{ else -}} data-back="{{ $back }}"{{ end -}}type="reset" formnovalidate>{{icon "plus" "deg-45"}}Cancel</button>
        {{- /* }}
        <label class="mime-type" title="text/markdown"><input type="radio" name="mime_type" value="text/markdown" checked="checked"/> self</label>
        <label class="mime-type" title="text/html"><input type="radio" name="mime_type" value="text/html"/> html</label>
        {{ if not $hash }}<label class="mime-type" title="application/url"><input type="radio" name="mime_type" value="application/url"/> url</label>{{end}}
        {{ */}}
    </fieldset>
</form>
