{{- $readonly := not (or CurrentAccount.IsLogged Config.AnonymousCommentingEnabled) -}}
{{- $label := .Message.Label -}}
{{- $hash := .Hash -}}
{{- $edit := .Message.Editable -}}
{{- $title := .Message.Title -}}
{{- $data := "" -}}
{{- $op := .Message.OP -}}
{{- $back := .Message.Back -}}
{{- $showTitle := .Message.ShowTitle -}}
{{- if and (IsComment .Content) (.Content.IsValid) -}}
    {{- $data = .Content.Data -}}
{{- end -}}
<form method="post">
    <fieldset {{ if $hash.IsValid }}data-reply="{{ $hash }}"{{end}}>
        <label for="submit-data">{{ $label }}</label><br/>
        <textarea {{if $readonly -}}disabled placeholder="You must authenticate to be able to comment" {{ end -}} name="data" id="submit-data" cols="80" rows="5" required>{{- if $edit -}}{{- $data -}}{{- end -}}</textarea><br/>
{{- if $showTitle -}}
        <label for="submit-title">Title: </label><br/>
        <textarea {{if $readonly -}} disabled {{ end -}} name="title" id="submit-title" rows="2" required>{{- if $edit -}}{{- $data -}}{{- end -}}</textarea><br/>
{{- end -}}
{{- if $hash.IsValid -}}
{{- if $edit }}
        <input type="hidden" name="hash" id="submit-self" value="{{ $hash }}"/>
{{- else }}
        <input type="hidden" name="parent" id="submit-parent" value="{{ $hash }}"/>
{{- if $op.IsValid }}
        <input type="hidden" name="op" id="submit-op" value="{{ $op }}"/>
{{- end -}}
{{- end -}}
{{- end }}
        {{ csrfField }}
        <input type="hidden" name="mime-type" id="submit-mime-type" value="text/markdown"/>
        <button {{if $readonly -}}disabled {{ end -}}type="submit">{{ .Message.SubmitLabel }}</button>
        <button {{if $readonly -}}disabled {{ else -}} data-back="{{ $back }}"{{ end -}}type="reset" formnovalidate>{{icon "plus" "deg-45"}}Cancel</button>
        {{- /* }}
        <label class="mime-type" title="text/markdown"><input type="radio" name="mime_type" value="text/markdown" checked="checked"/> self</label>
        <label class="mime-type" title="text/html"><input type="radio" name="mime_type" value="text/html"/> html</label>
        {{ if not $hash }}<label class="mime-type" title="application/url"><input type="radio" name="mime_type" value="application/url"/> url</label>{{end}}
        {{ */}}
    </fieldset>
</form>
