{{if .Deleted }}
<tt class="deleted titles" data-hash="{{.Hash}}">deleted</tt>
{{else}}
{{if .IsLink }}
<a class="titles" data-id="{{.Id}}" href="{{.Data | printf "%s"}}">{{.Title}}</a> <a class="domains">{{.GetDomain}}</a>
{{else}}
{{if .IsTop}}<span data-id="{{.Id}}" >{{.Title}}</span>{{end}}
{{end}}
<aside class="meta">
    submitted <time datetime="{{ .SubmittedAt| formatDate }}" title="{{ .SubmittedAt| formatDate }}">{{.SubmittedAt | formatDateInterval }}</time>
    {{if .Handle }}by <a class="by" href="/~{{ .Handle }}">{{ .Handle }}</a>{{end}}
    {{if .PermaLink }} | <a href="{{.PermaLink}}" title="discussion">¶</a>{{end}}
    {{if .ParentLink }}<a href="{{.ParentLink}}" title="parent">&#11173;</a>{{end}}
</aside>
{{end}}