<aside class="meta">
    submitted <time datetime="{{ .SubmittedAt| formatDate }}" title="{{ .SubmittedAt| formatDate }}">{{.SubmittedAt | formatDateInterval }}</time>
{{if .Handle }}by <a class="by" href="/~{{ .Handle }}">{{ .Handle }}</a>{{end}}
    <menu class="meta-items">
        {{if .PermaLink }}<li><a href="{{.PermaLink}}" class="perma" title="discussion"></a></li>{{end}}
        {{if .ParentLink | ne "/" }}<li><a href="{{.ParentLink}}" class="parent" title="parent"></a></li>{{end}}
    </menu>
</aside>