<aside class="meta">
    submitted <time datetime="{{ .ISODate }}" title="{{ .ISODate }}">{{ .FromNow }}</time>
{{if .Handle }}by <a class="by" href="/~{{ .Handle }}">{{ .Handle }}</a>{{end}}
    <menu class="meta-items">
        {{if .PermaLink }}<li><a href="{{.PermaLink}}" class="to-item" title="Go to discussion"></a></li>{{end}}
        {{if .Path }}<li><a href="{{.ParentLink}}" class="to-parent" title="Go to parent"></a></li>{{end}}
        {{if .Path }}<li><a href="{{.OPLink}}" class="to-op" title="Go to original post"></a></li>{{end}}
    </menu>
</aside>