{
    debug
    local_certs
}
fedbox.docker.git, fedbox {
    tls internal
    reverse_proxy * http://fedbox:4000
}
brutalinks.docker.git, brutalinks, app {
    tls internal
    reverse_proxy * http://app:4001
}
