fedbox.git {
    tls internal
    reverse_proxy * https://fedbox:4000 {
        to https://fedbox:4000
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

brutalinks.git {
    tls internal
    reverse_proxy * http://brutalinks:3000 {
        to http://brutalinks:3000
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
