article {
    opacity: .75;
    padding: 0 1rem;
    margin-top: 1em;
}
header menu {
    display: none;
}
article {
    max-width: 72vw;
    text-align: justify;
}
article p:first-of-type {
    margin-top: 0;
}
article p {
    text-indent: 2.4em;
    line-height: 1.6em;
    margin-top: .8em;
}
h1 {
    padding: 0 0 .8em 2.4rem;
}
hr {
    margin: 1.8rem 0;
}
