header menu {
    display: none;
}
article {
    max-width: 72vw;
    text-align: justify;
    opacity: .75;
    padding: 0 1rem;
    margin-top: 1em;
}
article p:first-of-type {
    margin-top: 0;
}
article p {
    text-indent: 2.2em;
    line-height: 1.5em;
    margin-top: .8em;
}
article h1 {
    padding: 0 0 .6em 0;
}
article hr {
    margin: 1.8em 0;
}
@media (max-width: 576px) {
    main article { max-width: unset; }
    article h1 { text-align: center; }
}
