main.accounts section section {
    grid-area: main;
    align-self: center;
    margin-left: 1ex;
}
main.accounts section.account {
    display: grid;
    grid-template-columns: 1.6rem 11fr;
    grid-template-areas: "sidebar main";
}

