section nav dl, section nav ul, section nav ol {
    margin-left: 0;
}
section dl, section ul, section ol {
    margin-left: 1.3rem;
}
section blockquote,
section q {
    quotes: none;
    border-left: 2px solid var(--main-fg-color);
    padding-left: .6em;
    margin-bottom: .3em;
    opacity: .75;
}
section p + p, section p + ul, section p + ol, section p + dl,
section p + div, section p + h1, section p + h2, section p + h3, section p + h4, section p + h5, section p + h6,
section p + blockquote, section p + pre {
    margin-top: .6rem;
}
section h1, section h2, section h3,
section h4, section h5, section h6 {
    font-weight: 600;
}
section h1 {
    font-size: 1.32em;
    line-height: 1.44em;
}
section h2 {
    font-size: 1.20em;
    line-height: 1.32em;
}
section h3 {
    font-size: 1.11em;
    line-height: 1.32em;
}
section h4 {
    font-size: 1em;
    line-height: 1.3em;
}
section h5 {
    line-height: 1.1em;
    font-size: .96em;
}
section h6 {
    line-height: 1em;
    font-size: .94em;
}
section > header h2 {
    font-size: 1.24em;
    font-weight: 400;
}
section > header h2 small {
    font-size: .75em;
    opacity: .8;
    margin: 0 0 0 1ex;
    padding: 0;
}
section > header h2 small:last-child::before {
    content: "(";
}
section > header h2 small:last-child::after {
    content: ")";
}
.item {
    line-height: 1.3em;
}
.data pre {
    line-height: 1.3rem;
    overflow: auto;
    max-width: 100%;
}
.data p:first-of-type {
    margin-top: 0;
}
.data p:first-of-type::first-letter {
    font-weight: normal;
    font-size: 110%;
}
.score .data {
    display: grid;
    line-height: 1.62em;
}
footer time .icon-clock-o {
    width: .85em;
}
footer .icon-activitypub {
    vertical-align: text-top;
    width: 1.1em;
    display: none;
}
section footer,
section footer nav,
section footer nav ul,
section footer nav ul li {
    display: inline-block;
}
.item footer nav ul li::before {
    content: unset;
}
section footer::before {
    content: '\2012';
}
.moderation-request + .score,
.follow-request + .score,
.account + .score {
    grid-template-rows: 1.5em;
    align-content: center;
}
.score {
    grid-template-rows: 1em 1.5em 1em;
    display: grid;
    grid-area: sidebar;
    min-height: 5.3ex;
    align-content: start;
}
.score a {
    font-family: monospace;
    font-weight: 901;
    font-size: 1.8em;
}
.score * {
    justify-self: center;
    align-self: center;
}
.score data:not(.N) {
    padding-left: .1em;
}
.score a.nay {
    margin-top: -.35em;
}
.score a:hover {
    text-decoration: none;
}
.score data {
    justify-self: center;
    align-self: center;
    font-size: .7em;
}
.score data.inf {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}
.score data.K, .score data.M,  .score data.B {
    font-weight: lighter;
    font-size: .6em;
}
.score .icon-recycle {
    opacity: .6;
}
.deleted .score a.ed,
.score a[href="#"],
.score a[href="#"]:visited {
    opacity: .3;
    color: var(--main-fg-color);
}
.score a.ed {
    color: var(--main-linkvisited-color);
}
.score a.ed:visited {
    color: var(--main-linkvisited-color);
}
.score a:visited {
    color: var(--main-link-color);
}
summary:focus {
    outline: none;
}
.text-plain {
    white-space: pre;
    font-family: monospace;
    /*overflow: auto;*/
    line-height: revert;
}
.text-plain > header {
    white-space: normal;
    font-family: revert;
}

dl.recipients dt,
dl.recipients dd {
    opacity: .8;
    display: inline;
    font-size: .8rem;
}
dl.recipients dd {
    margin-left: .2rem;
}
.details-agree {
    font-size: .8em;
}
.details-agree input[type=checkbox] {
    position: relative;
    top: 3px;
}
button svg.icon.icon-reply,
button svg.icon.icon-sign-in {
    height: .9em;
    width: .9em;
    vertical-align: text-bottom;
}
form fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}
@media (max-width: 576px) {
    section footer {
        font-size: .75em;
    }
    section footer::before {
        content: "";
    }
}
