/*
main ol {
    max-width: 120ch;
}
.icon-reply.h-mirror, .icon-plus.deg-45 {
    vertical-align: middle;
}
.child > article {
    margin-left: -.2rem;
}
main.content article {
    grid-area: main;
    margin-left: 1ex;
}
main.content {
    display: grid;
    grid-template-columns: 1.6rem 11fr;
    grid-template-areas: "sidebar main" "footer footer";
}
.content > * {
    grid-area: footer;
}
video {
    max-width: 90%;
    max-height: 32ex;
}
@media (max-width: 768px) {
    video {
        width: 100%;
    }
}
*/
