main ol {
    max-width: 120ch;
}
.icon-reply.h-mirror, .icon-plus.deg-45 {
    vertical-align: middle;
}
.child > article {
    margin-left: -.2rem;
}
.children > li {
    /*margin-bottom: .4em;*/
}
main.content article section {
    grid-area: main;
    align-self: center;
    margin-left: 1ex;
}
main.content article {
    display: grid;
    grid-template-columns: 1.6rem 11fr;
    grid-template-areas: "sidebar main";
}
video {
    max-width: 90%;
    max-height: 32ex;
}
@media (max-width: 768px) {
    video {
        width: 100%;
    }
}
