body > header > menu, body > header > ul, body > header > * li {
    display: inline-block;
}
body > header {
    display: grid;
    grid-template-columns: auto auto 5fr;
    grid-area: header;
    margin: .4rem 0 0 0;
}
body > header .score {
    display: inline;
}
body > header h1 a, body > header h1 a:hover, body > header h1 a:visited {
    color: var(--main-fg-color);
    text-decoration: none;
}
body > header menu.tabs li {
    margin-right: .4em;
}
body > header menu.tabs > li::before {
    content: unset;
}
svg.icon.icon-home {
    vertical-align: top;
}
body > header small {
    opacity: .7;
    font-weight: lighter;
}
body > header menu {
    align-self: end;
    margin-left: .4rem;
    text-align: right;
}
small data.score::before {
    content: "(";
}
small data.score::after {
    content: ")";
}
svg.icon.icon-activitypub {
    width: 1.4rem;
}
svg.icon.icon-home {
    vertical-align: top;
}
body > header small {
    opacity: .7;
    font-weight: lighter;
}
body > header h1 a, body > header h1 a:hover, body > header h1 a:visited {
    color: var(--main-fg-color);
    text-decoration: none;
}
body > footer {
    margin-bottom: 1rem;
}
