body > header > menu, body > header > h1, body > header > ul, body > header > * li{
    display: inline-block;
}
body > header > menu {
    min-width: 60%;
}
body > header > ul {
    width: 20%;
    text-align: right;
}
body > header {
    margin-top: 1rem;
}
body > footer {
    margin-bottom: 1rem;
}
body > header > nav {
    display:grid;
    grid-template-columns: auto auto 5fr;
    align-items: end;
    grid-column-gap: 1.2em;
}
body > header > nav > ul:last-child {
    /*font-size: .9em;*/
}
body > header > nav ul:last-child {
    text-align: right;
}
body > header .score {
    display: inline;
}
svg.icon.icon-home {
    vertical-align: top;
}
body > header small {
    opacity: .7;
    font-weight: lighter;
}
body > header h1 a, body > header h1 a:hover, body > header h1 a:visited {
    color: var(--main-fg-color);
    text-decoration: none;
}
svg.icon.icon-activitypub {
    width: 1.4rem;
}
