@media (min-width: 2201px) {
    :root {
        font-size: .8vw;
    }
}
@media (max-width: 2200px) {
    :root {
        font-size: .88vw;
    }
}
@media (max-width: 1800px) {
    :root {
        font-size: 1.05vw;
    }
}
