/* listing.css */
#no-items {
    opacity: .65;
    margin-top: .6rem;
    margin-left: .4rem;
}
article.item, article.account, article.moderation-request {
    display: grid;
    justify-items: start;
    align-items: baseline;
    grid-template-columns: 1.4rem 18fr;
    grid-template-rows: minmax(1.4rem, min-content) minmax(0, min-content) minmax(0, min-content);
}
.top-level > li {
    margin-bottom: 1em;
}
.children > li span.score, .top-level > li span.score {
    min-height: 3.5em;
    grid-area: sidebar;
    align-content: start;
}
.children > li article {
    margin-left: -.2em;
}
.children > li article, .top-level > li article {
    grid-area: main;
    align-self: center;
    /*margin-left: 1ex;*/
}
.children > li nav, .top-level > li nav {
    grid-area: footer;
    margin-left: .4em;
    align-self: start;
}
body > footer nav.pagination ul li:first-of-type {
}
