#no-items {
    opacity: .65;
    margin-top: .6rem;
    margin-left: .4rem;
}
main  ol li aside {
    min-height: 5.3ex;
    align-content: center;
}
main ol li section {
    grid-area: main;
    align-self: center;
    margin-left: 1ex;
}
main ol li {
    display: grid;
    grid-template-columns: 1.6rem 11fr;
    grid-template-areas: "sidebar main";
}
li section footer {
    opacity: .6;
    line-height: 1.12rem;
}
body > footer nav.pagination ul li:first-of-type {
    margin-right: .2em;
}
