@media (max-width: 1500px) {
    :root {
        font-size: 1.24vw;
    }
}
@media (max-width: 1200px) {
    :root {
        font-size: 1.55vw;
    }
}
@media (max-width: 1050px) {
    :root {
        font-size: 1.75vw;
    }
}
@media (max-width: 948px) {
    :root {
        font-size: 1.9vw;
    }
}
