@charset "UTF-8";
:root {}
body {
    background: Window;
    color: WindowText;
    font-size: 1rem;
    line-height: 1.4em;
    margin:0;
    padding: 1ex .8em;
}
.inverted {
    color: Window !important;
    background-color: WindowText !important;
}
.inverted a {
    color: dodgerblue;
}
.inverted a:visited {
    color: mediumpurple;
}
.inverted a:active {
    color: crimson;
}
.inverted .score a {
    color: unset;
}
body>header {
    height: 2.4em;
    width: 100%;
}
body>header h1 {
    font-size: 1.6em;
    font-weight: lighter;
}
body>header h1 a {
    text-decoration: none;
    color: WindowText;
    text-align: center;
}
.inverted header h1 a,
.inverted header h1 a:active,
.inverted header h1 a:visited,
.inverted header h1 a:focus
{
    color: Window;
}
/*body>header h1 a:before {
    content: "♻";
    font-weight: 1000;
}*/
.submission h1,
.submission h2,
.submission h3,
.submission h4,
.submission h5,
.submission h6 {
    font-weight: normal;
}
.submission h1 {
    font-size: 1.1em;
    margin: 0.2em 0;
}
#content .data,
.items .data {
    /*margin-left: 3ex;*/
}
#content .data {
    /*margin: 0 0 1ex 2em;*/
}
#items .data  {
    /*margin: 1.2em 0;*/
}
#items article pre {}
#items article pre code {}
.inverted #items article pre {}
.inverted #items article pre code {}
.data {
    /*margin: 1.8em 0.5ex;*/
    /*padding: 1em 11ex;*/
}
#items ol {
    list-style: none;
    padding-left: 0;
}
#items ol li {
    padding-top: .5em;
    clear: both;
}
ol.comments li {
    display: block;
    clear: both;
}
ol.comments {
    clear: both;
    border-left: 2px solid transparent;
    margin: .9em 0 0 .7em;
}
.score {
    float: left;
    width: 2.4ex;
    text-align: center;
    margin-right: .5ex;
}
.score data {
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
    font-size:.6em;
}
.score a:hover,
.score a:focus {
    text-decoration: none;
}
.score a {
    text-decoration: none;
    padding: 0 2px 0 2px;
    font-size: 1.1em;
    color: WindowText;
}
.score a.yay::before {
    font-weight: 1000;
    content: "🞦";
}
.score a.yay:active,
.score a.yay.ed {
    color: deeppink;
}
.score a.nay::after {
    font-weight: 1000;
    content: "━";
}
.score a.nay:active,
.score a.nay.ed {
    color: #689a1c;
}
.inverted .score a.nay:active,
.inverted .score a.nay.ed {
    color: greenyellow;
}
.submission {
    padding-top: .3em;
}
.meta {
    padding: .4em 0 0 5ex;
    font-size: .8em;
}
.meta a {
    text-decoration: none;
    font-weight: 900;
}
.by:before {
    content: "~";
    font-weight: 1000;
}
.meta time {
    text-decoration: underline dotted;
}
.comment {
    margin:auto;
    padding: .4em 0 .4em 2.4ex;
    font-size: .92em;
}
.deleted {
    line-height: 55px;
    padding-left: 2ex;
    letter-spacing: 0.3ex;
    font-weight: 200;
}
.domains {
    font-size: 0.9em;
    font-weight: 200;
}
#content .meta {
    padding: 0 0 0 5ex;
}
ol.lvl-0 {
    border-color: #691d52;
}
ol.lvl-1 {
    border-color: #900c3f;
}
ol.lvl-2 {
    border-color: #c70039;
}
ol.lvl-3 {
    border-color: #ff5733;
}
ol.lvl-4 {
    border-color: #f39c12;
}
ol.lvl-5 {
    border-color: #efec00;
}
ol.lvl-6 {
    border-color: #b3ff35;
}
ol.lvl-7 {
    border-color: #beffb9;
}
ol.lvl-8 {
    border-color: #80fff8;
}
ol.lvl-9 {
    border-color: #6cd8d2;
}
.comments .data, #content .data  {
    border: none;
    margin: -8px .3ex;
    padding: 1em 5ex;
}
.text-plain {
    white-space: pre;
    font-family: monospace;
    min-width: 80ex;
}
#reply {
    margin-top: 1em;
}
#reply, #new {
    max-width: 80ex;
}
#reply fieldset legend, #new fieldset legend {
    padding: 0 2ex;
}
#reply textarea,
#new textarea {
    width: 100%;
}
#reply label, #new label {}
menu.meta-items, menu#auth, menu#top {
    display: inline;
    margin: 0;
    padding: 0;
}
menu.meta-items li, menu#auth li, menu#top li {
    display:inline;
    margin: 0;
    padding: 0;
}
menu.meta-items:before {
    content: " [";
}
menu.meta-items:after {
    content: "] ";
}
menu.meta-items a {
    font-weight: 1000;
}
a.to-item:before {
    content: " ¶ ";
}
    /*
span.domain:before {
    content: "[";
}
span.domain:after {
    content: "]";
}
    */
.domain a:after {
    /*
    content: "⮡";
    */
    margin-left: .6ex;
    content: "¶ ";
    font-size:1.1em;
}
.domain a {
    text-decoration: none;
}
span.domain {
    font-weight: 200;
    font-size: .7em;
    margin-left: 4ex;
}
.comments a.to-parent,
.comments a.to-op {
    display:none;
}
a.to-parent:before {
    content: "‥";
    font-weight: 1000;
}
a.to-op:before {
    content: "^";
    font-weight: 1000;
}
footer {
    font-size: 0.7em;
    width: 100%;
}
header menu#top {
    display: block !important;
}
footer #auth, header #top  {
    float:right;
}
menu#auth {
    margin-right:2em;
}
menu#auth li:first-child::before,
menu#auth li:nth-child(2)::before,
menu#top li:first-child::before  {
    content: "";
}
menu#auth li:first-child::after {
    content: ": ";
}
menu#auth li::before, menu#top li::before {
    content: " | ";
}
