/* main.css */
body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    min-height: 100%;
    display: grid;
    padding: 0 1rem;
    grid-template-rows: [first-line]auto minmax(min-content, 1fr) [last-line]auto;
    grid-template-areas: "header" "main" "footer";
    grid-gap: .5rem;
}
ul, ol {
    list-style: none;
}
a {
    color: var(--main-link-color);
    text-decoration: none;
}
a:visited {
    color: var(--main-linkvisited-color);
}
a:hover {
    text-decoration: underline;
}
a[href="#"], a[href="#"]:visited {
    color: var(--main-fg-color);
    cursor: text;
    text-decoration: none;
}
.deg-45 {
    transform: rotate(45deg);
}
.h-mirror {
    transform: rotateX(180deg);
}
.v-mirror {
    transform: rotateY(180deg);
}
.h-mirror.v-mirror {
    transform: rotateY(180deg) rotateX(180deg);
}
svg.icon-trash-o, svg.icon-activitypub, svg.icon-star, svg.icon-edit, svg.icon-adjust,
svg.icon-plus, svg.icon-minus, svg.icon-code, svg.icon-angle-double-right, svg.icon-clock-o,
svg.icon-user, svg.icon-lock, svg.icon-check {
    vertical-align: text-top;
}
.icon.icon-home, .icon.icon-star, .icon.icon-activitypub, .icon.icon-adjust,
.icon.icon-lock, .icon.icon-flag, .icon.icon-block, .icon.icon-edit
{
    margin-right: -.1em;
}
nav ul, nav ul li, nav dl, nav dl dd, nav dl dt, footer ul, footer ul li {
    display: inline-block;
}
.item footer ul li {
    margin-left: .2rem;
}
article main ul, article main ol {
    list-style: initial;
    margin-left: 1.2em;
}
.deleted {
    opacity: .7;
}
.icon.icon-lock {
    transform: rotateX(180deg);
}
a[rel="mention external"]::before, a[rel="mention"]::before, a[rel="tag"]::before {
    opacity: .7;
    font-weight: bold;
}
a[rel="mention external"]::before, a[rel="mention"]::before, del.mention::before {
    content: "~";
}
a[rel="mention external"] {
    opacity: .8;
}
a[rel="tag"]::before {
    content: "#";
}
footer time {
    text-decoration: underline dotted;
}
del.title {
    line-height: 2rem;
    padding-left: 2ex;
    letter-spacing: .3ex;
    font-weight: 100;
}
form label {
    min-height: 1.8rem;
    line-height: 1.8rem;
}
form label.mime-type {
    font-size: .8em;
    float: right;
}
dialog {
    width: 60%;
    z-index: 1;
}
dialog button.close {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    font-size: .8em;
    margin-top: -1em;
    margin-right: -1em;
    float: right;
}
img.avatar {
    object-fit: cover;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: .3rem;
}
menu li:not(:first-child)::before, nav ul li:not(:first-child)::before {
    content: "\22c5";
    margin-right: .2em;
}
nav ul li a {
    margin-right: .2em;
}
p {
    word-break: break-word;
}
form textarea {
    width: 98%;
}
form button {
    margin-top: .2em;
    padding: .2em;
}
#reply, #new {
    max-width: 30rem;
}
@media (min-width: 2201px) {
    :root {
        font-size: .78vw;
    }
}
@media (max-width: 2200px) {
    :root {
        font-size: .86vw;
    }
}
@media (max-width: 1800px) {
    :root {
        font-size: 1.05vw;
    }
}
@media (max-width: 1500px) {
    :root {
        font-size: 1.16vw;
    }
}
@media (max-width: 1200px) {
    :root {
        font-size: 1.4vw;
    }
}
@media (max-width: 1050px) {
    :root {
        font-size: 1.6vw;
    }
}
@media (max-width: 948px) {
    :root {
        font-size: 1.8vw;
    }
}
@media (max-width: 860px) {
    :root {
        font-size: 2vw;
    }
    a[rel="mention"] {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
    }
    body > header nav ul a span {
        display: unset;
    }
}
@media (max-width: 768px) {
    :root {
        font-size: 2.4vw;
    }
    nav:not(.pagination) li::before {
        content: unset !important;
    }
    body > footer nav:nth-of-type(2) li:first-of-type {
        display:inline-block;
    }
    section footer nav li a:not([rel="bookmark"]),
    body > footer nav:not(.pagination) li,
    body > footer nav:not(.pagination) dl,
    body > header nav ul a span,
    body > header nav:last-of-type li {
        display: none;
    }
    body > header nav:last-of-type li:last-of-type {
        display: unset;
    }
}
@media (max-width: 576px) {
    :root {
        font-size: 2.6vw;
    }
    section header h2 small,
    body > header h1 a strong,
    body > header h1 a small,
    body > header nav li data {
        display: none;
    }
}
@media (max-width: 480px) {
    :root {
        font-size: 3.6vw;
    }
    footer time svg,
    body > header h1 a small {
        display: none;
    }
}
