@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
.local-icon::before {
    content: "\f2ed";
    font-family: "Font Awesome 5 Free";
}
.github-icon::before {
    content:"\f09b";
    font-family: "Font Awesome 5 Brands";
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset css */
/* font awesome */
@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}
/* font awesome */
@media (max-width: 480px) {
    :root {
        font-size: 3vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 480px) {
    :root {
        font-size: 2.5vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 576px) {
    :root {
        font-size: 2.3vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 768px) {
    :root {
        font-size: 1.8vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 992px) {
    :root {
        font-size: 1.2vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1200px) {
    :root {
        font-size: 1.1vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1500px) {
    :root {
        font-size: 1vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1800px) {
    :root {
        font-size: .8vw;
    }
}
@media (min-width: 2200px) {
    :root {
        font-size: .6vw;
    }
}
* {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    hyphens: auto;
}
:root {

}
body {
    background: Window;
    color: WindowText;
    display: grid;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    /*grid-template-rows: 3.4rem minmax(10fr, max-content) 2rem;*/
    grid-template-areas: "header" "main" "footer";
}
body > header {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr;
    grid-area: header;
    grid-template-areas: "main" "aside";
}
body > header h1 {
    font-size: 1.6em;
    font-weight: lighter;
    grid-area: main;
}
body > header menu {
    text-align: right;
}
body > header menu a,
body > header menu a:visited,
body > header menu a:active
{
    text-decoration: none;
}
body > header h1 a,
body > header h1 a:hover,
body > header h1 a:visited,
body > header h1 a:active
{
    color: WindowText;
    text-decoration: none;
}
body > header h1 a:before {
    /*content: "♻";
    content: "\f1b8";*/
    content: "\f2ed";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    margin-right: .4em;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
    font-size: 0.7em;
}
.inverted {
    color: Window !important;
    background-color: WindowText !important;
}
.inverted a {
    color: dodgerblue;
}
a:visited {
    color: rebeccapurple;
}
.inverted a:visited {
    color: mediumpurple;
}
.inverted a:active {
    color: crimson;
}
.inverted .score a {
    color: unset;
}
.inverted > header h1 a,
.inverted > header h1 a:active,
.inverted > header h1 a:visited,
.inverted > header h1 a:focus
{
    color: Window;
}
.item header h1
{
    display:inline-flex;
}
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6 {
    /*font-weight: normal;*/
    /*margin: 0.2em 0;*/
}
.item h1 {
    font-size: 1.4em;
}
.item h2 {
    font-size: 1.2em;
}
.item h3 {
    font-size: 1.12em;
}
.item h4 {
    font-size: 1.04em;
}
.item h5 {
    font-size: 1em;
}
.item h6 {
    font-size: .94em;
}
.item h1 a {
    /*padding-left: 0.3em;*/
}
ol.hide-text article.data {
    display: none;
}
.hide-text li.item {
    min-height: 3.3rem;
}
article {
    min-height: 2.2rem;
}
.hide-text article header {
    margin-bottom: 0px;
}
/*.hide-text .score {*/
    /*height: 3.4rem;*/
/*}*/
article {
    /*border-top: solid 1px silver;*/
    display: flex;
    align-items: center;
    /*max-width: 80vw;*/
    flex-wrap: wrap;
}
article > section {
    width: 100%;
}
article > header {
    width: 100%;
}
article > header h1 {
    display:inline;
}
h6.domain {
    display:inline;
    font-weight: 200;
    font-size: .8em;
    /*margin-left: 5ex;*/
}
.domain:before {
    content: "( ";
}
.domain:after {
    content: " )";
}
.domain a:after {
    margin-right: .15em;
    content: "//";
    font-weight: 800;
    font-size: .78em;
}
.domain a {
    text-decoration: none;
}
article > header {
    margin-bottom: .4em;
}
.data pre {
    color:unset;
}
.data code {
    white-space: pre;
    color: unset;
}
.data p:first-of-type {
    margin-top: 0;
}
.items article pre code {}
.inverted .items article pre {}
.inverted .items article pre code {}
ol {
    list-style: none;
    padding-left: 0;
}
ol li {
    margin-bottom: .8rem;
}
.item {
    display: grid;
    grid-template-columns: 2.4rem max-content;
    grid-template-rows: fit-content(33%);
    grid-template-areas:
            "sidebar header"
            "sidebar main"
            "sidebar footer"
}
.item aside.score {
    grid-area: sidebar;
}
.item header {
    grid-area: header;
}
.item .data {
    grid-area: main;
}
.item footer {
    grid-area: footer
}
ol.comments {
    margin-top: .8em;
    padding-left: 2vmin;
}
ol.comments li {
    list-style: none;
}
ol.comments {
    border-left: 2px solid transparent;
}
.acct .score:before {
    content: "[";
}
.acct .score:after {
    content: "]";
}
.item .score {
    /*display: none !important;*/
    text-align: center;
    max-width: 2em;
    padding: 0;
}
.item .score a,
.item .score data {
    display: block;
    margin: auto;
}
.item .score data {
    margin: auto;
    font-size:.6em;
    margin-top: 5px;
}
.score a:hover,
.score a:focus {
    text-decoration: none;
}
.score a {
    text-decoration: none;
    font-size: 1.1em;
    color: WindowText;
}
.inverted #top-invert::before {
    /*content: "\f0eb";*/
    /*content: "\f042";*/
    content: "\f185";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
#top-invert::before {
    /*content: "\f0eb";*/
    /*font-weight: 800;*/
    /*content: "\f042";*/
    content: "\f186";
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
}
.score a.yay {
    margin-top: 2px;
}
.score a.yay::before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-weight: 800;
}
.score a.yay:active,
.score a.yay.ed {
    color: deeppink;
}
.inverted .score a.yay:active,
.inverted .score a.yay.ed {
}
.score a.nay::after {
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    font-weight: 800;
}
.score a.nay:active,
.score a.nay.ed {
    color: #689a1c;
}
.inverted .score a.nay:active,
.inverted .score a.nay.ed {
   color: greenyellow;
}
.item.op {
    padding-top: .3em;
}
.meta {
    clear:both;
    font-size: .8em;
}
.meta a {
    text-decoration: none;
    font-weight: 900;
}
.by:before {
    content: "~";
    font-weight: 900;
}
.meta time {
    text-decoration: underline dotted;
}
.submission {
    padding: .2em 0 0 1.9em;
}
.comment {
    font-size: .96rem;
}
details {}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
.deleted {
    line-height: 2rem;
    padding-left: 2ex;
    letter-spacing: 0.3ex;
    font-weight: 200;
}
.domains {
    font-size: 0.9em;
    font-weight: 200;
}
#content .meta {
    padding: 0 0 0 5ex;
}
ol.lvl-0 {
    border-color: #691d52;
}
ol.lvl-1 {
    border-color: #900c3f;
}
ol.lvl-2 {
    border-color: #c70039;
}
ol.lvl-3 {
    border-color: #ff5733;
}
ol.lvl-4 {
    border-color: #f39c12;
}
ol.lvl-5 {
    border-color: #efec00;
}
ol.lvl-6 {
    border-color: #b3ff35;
}
ol.lvl-7 {
    border-color: #beffb9;
}
ol.lvl-8 {
    border-color: #80fff8;
}
ol.lvl-9 {
    border-color: #6cd8d2;
}
/*.data {*/
    /*margin-bottom: 15px;*/
/*}*/
.comments .data,
#content .data  {
    border: none;
}
.text-plain {
    white-space: pre;
    font-family: monospace;
    /*width: 80ex;*/
    overflow: auto;
}
#reply {
    margin-top: 1em;
    clear: both;
}
#reply, #new, #login {
    max-width: 80ex;
}
#reply fieldset legend,
#new fieldset legend,
#login fieldset legent {
    padding: 0 2ex;
}
#reply textarea,
#new textarea {
    width: 100%;
}
#reply label,
#new label,
#login label {}
menu.meta-items {
    display: inline;
    margin: 0;
    text-align: center;
    padding-left: 1em;
}
menu.meta-items li,
menu#bottom li {
    display: inline;
    margin: 0;
}
menu.meta-items:before {
    content: " [";
    padding-right: .1em;
}
menu.meta-items:after {
    content: "] ";
    padding-left: .5em;
}
menu.meta-items a::before {
    font-weight: 900;
    padding: 0 .2rem;
}
a.to-item:before {
    content: "¶";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.comments a.to-parent,
.comments a.to-op {
    display: none;
}
a.to-parent:before {
    content: "\2303";
    font-weight: 900;
}
a.to-op:before {
    content: "\f102";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
menu#top li {
    display:inline-block;
}
menu#top li:first-child::before,
menu#bottom li:first-child::before {
    content: "";
}
menu#top li::before,
menu#bottom li::before {
    content: " | ";
}
.new-acct-details {
    display: block;
    float: right;
    width: 50%;
    text-align: center;
}
.details-agree {
    font-size: .8em;
}
.details-agree input[type=checkbox] {
    position: relative;
    top: 3px;
}
hr {
    border-color: WindowText;
}
.inverted hr {
    border-color: Window;
}
time::before {
    content: "\f017  ";
    font-family: "Font Awesome 5 Free";
    font-size: 0.7em;
}
