@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, a, summary, details,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: sans;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
.local-icon::before {
    content: "\f2ed";
    font-family: "Awesome";
}
i.github-icon {
    font-style: normal;
}
.github-icon::before {
    content:"\f09b";
    font-family: "AwesomeBrands";
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset css */
/* font awesome */
@font-face {
    font-family: "AwesomeBrands";
    font-style: normal;
    font-weight: normal;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Awesome";
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Awesome";
    font-style: normal;
    font-weight: 900;
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}
/* font awesome */
@media (max-width: 480px) {
    :root {
        font-size: 3.6vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 480px) {
    :root {
        font-size: 2.8vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 576px) {
    :root {
        font-size: 2.2vw;
    }
    h6.domain {
        display: none;
    }
}
@media (min-width: 768px) {
    :root {
        font-size: 1.6vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 992px) {
    :root {
        font-size: 1.2vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1050px) {
    :root {
        font-size: 1.1vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1200px) {
    :root {
        font-size: 1.2vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1500px) {
    :root {
        font-size: .9vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1700px) {
    :root {
        font-size: .95vw;
    }
    h6.domain {
        display: inline;
    }
}
@media (min-width: 1800px) {
    :root {
        font-size: .75vw;
    }
}
@media (min-width: 2200px) {
    :root {
        font-size: .7vw;
    }
}
:root {
    height: 100%;
}
p {
    text-indent: .4rem;
    padding-bottom: .2rem;
    word-break: break-word;
    hyphens: auto;
}
body {
    background: Window;
    color: WindowText;
    min-height: 100%;
    display: grid;
    padding: 0 .5rem 0 .5rem;
    /*grid-gap: .5rem;*/
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas: "header" "main" "footer";
}
body > header {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 1fr;
    grid-area: header;
    grid-template-areas: "main" "aside";
    margin: .5rem 0 0 0;
}
body > header h1 {
    font-size: 1.6em;
    font-weight: lighter;
    grid-area: main;
}
body > header menu {
    text-align: right;
}
body > header menu a,
body > header menu a:visited,
body > header menu a:active
{
    text-decoration: none;
}
body > header h1 a,
body > header h1 a:hover,
body > header h1 a:visited,
body > header h1 a:active
{
    color: WindowText;
    text-decoration: none;
}
body > header h1 a:before {
    /*content: "♻";
    content: "\f1b8";*/
    content: "\f2ed";
    font-family: "Awesome";
    font-weight: 400;
    margin-right: .4em;
}
body > main {
    margin-top: 1em;
    grid-area: main;
}
body > footer {
    grid-area: footer;
    font-size: 0.7em;
}
a:visited {
    color: rebeccapurple;
}
a:active {
    color: red;
}
.inverted {
    color: Window !important;
    background-color: WindowText !important;
}
.inverted a {
    color: dodgerblue;
}
.inverted a:visited {
    color: mediumslateblue;
}
.inverted a:active {
    color: red;
}
.inverted .score a {
    color: unset;
}
body.inverted > header h1 a,
body.inverted > header h1 a:active,
body.inverted > header h1 a:visited,
body.inverted > header h1 a:focus
{
    color: Window;
}
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6 {
    font-weight: normal;
    /*margin: 0.2em 0;*/
}
.item h1 {
    font-size: 1.22em;
}
.item h2 {
    font-size: 1.16em;
}
.item h3 {
    font-size: 1.11em;
}
.item h4 {
    font-size: 1em;
}
.item h5 {
    font-size: .96em;
}
.item h6 {
    font-size: .94em;
}
.item h1 a {
    /*padding-left: 0.3em;*/
}
ol.hide-text article.data {
    display: none;
}
.hide-text li.item {
    min-height: 3.3rem;
}
article {
    min-height: 1.3rem;
    /*padding-bottom: 1.2rem;*/
    line-height: 1.35rem;
}
.hide-text article header {
    margin-bottom: 0px;
}
/*.hide-text .score {*/
    /*height: 3.4rem;*/
/*}*/
article > section {
    width: 100%;
}
article > header {
    /*padding-top:4px;*/
    /*max-height: 2rem;*/
    margin-bottom: .1rem;
}
article > header h1 {
    display: inline;
}
h6.domain {
    font-weight: 200;
    font-size: .8em;
    /*margin-left: 5ex;*/
}
.domain:before {
    content: "( ";
}
.domain:after {
    content: " )";
}
.domain a:after {
    margin-right: .15em;
    content: "//";
    font-weight: 800;
    font-size: .78em;
}
.domain a {
    text-decoration: none;
}
.data p {}
.data pre {
    color: unset;
    line-height: 2rem;
}
.data code {
    white-space: pre;
    color: unset;
}
.data p:first-of-type {
    margin-top: 0;
}
.items article pre code {}
.inverted .items article pre {}
.inverted .items article pre code {}
ol {
    list-style: none;
    padding-left: 0;
}
ol li {
    margin-bottom: .9rem;
}
.item {
    display: grid;
    grid-template-columns: 2.4rem 11fr;
    /*grid-template-rows: minmax(0px, 11fr);*/
    grid-template-rows: max-content;
    grid-template-areas:
            "sidebar main"
            "sidebar footer"
}
.item aside.score {
    grid-area: sidebar;
}
/*.item header {*/
    /*grid-area: header;*/
/*}*/
.item .data {
    grid-area: main;
}
.item footer::before {
    content: '\2012';
}
.item footer {
    grid-area: footer;
}
ol.comments {
    margin-top: -1px;
    padding: 1.5vmin 0 0 1.5vmin;
    /*border-radius: 0 0 0 .4rem;*/
}
ol.comments.lvl-0 {
    /*border-radius: .4rem 0 0 .4rem;*/
}
ol.comments li {
    list-style: none;
}
.acct .score:before {
    content: "[";
}
.acct .score:after {
    content: "]";
}
.item .score {
    /*display: none !important;*/
    text-align: center;
    max-width: 2em;
    padding: 0;
    margin-left: -2px;
}
.item .score a,
.item .score data {
    display: block;
    margin: auto;
}
.item .score data {
    font-size:.6em;
    /*line-height: 1.8rem;*/
    margin: 5px auto 3px auto;
}
.score a:hover,
.score a:focus {
    text-decoration: none;
}
.score a {
    text-decoration: none;
    font-size: 1.1em;
    color: WindowText;
}
.inverted #top-invert::before {
    content: "\f185";
    font-size: 1em;
}
#top-invert::before {
    content: "\f186";
    font-weight: 400;
    font-family: "Awesome";
    font-size: .8em;
}
.score a:not([href]) {
    opacity: .2;
}
.score a.yay {
    margin-top: 2px;
}
.score a.yay::before,
.score a.nay::after
{
    font-family: "Awesome";
    font-weight: 800;
}
.score a.nay::after {
    content: "\f068";
}
.score a.yay::before {
    content: "\f067";
}
.score a[href].yay:active,
.score a[href].yay.ed,
.score a[href].nay:active,
.score a[href].nay.ed {
    color: mediumslateblue;
    /*text-shadow: black 1px 1px 10px;*/
}
/*.inverted .score a[href].yay:active,*/
/*.inverted .score a[href].yay.ed,*/
/*.inverted .score a[href].nay:active,*/
/*.inverted .score a[href].nay.ed*/
/*{*/
    /*color: mediumpurple;*/
/*}*/
.meta {
    clear:both;
    font-size: .8em;
    opacity: .6;
}
/*.meta:hover,*/
/*.meta:active {*/
    /*opacity: 1;*/
/*}*/
.meta a {
    text-decoration: none;
    font-weight: 900;
}
.by:before {
    content: "~";
    font-weight: 900;
}
.meta time {
    text-decoration: underline dotted;
}
.submission {
    padding: .2em 0 0 1.9em;
}
.comment {
    font-size: .96rem;
}
.deleted {
    line-height: 2rem;
    padding-left: 2ex;
    letter-spacing: 0.3ex;
    font-weight: 200;
}
.domains {
    font-size: 0.9em;
    font-weight: 200;
}
#content .meta {
    padding: 0 0 0 5ex;
}
details[open] {}
details:not([open]) {
}
details {}
summary:focus {
    outline: none;
}
details[open] > summary {
    padding: .3rem 0 0 .3rem;
    /*border-radius: .3rem 0 0 0;*/
}
details:not([open]) > summary {}
details > summary::before {}
details > summary {
    font-size: 0.7rem;
    display: inline;
    margin-top: 1rem;
    padding: .3rem 0 .3rem .3rem;
    /*border-radius: .3rem 0 0 .3rem;*/
}
details > summary span {
    opacity: .6;
}
details > summary::-webkit-details-marker {
    opacity: .3;
}
.comments, summary {
    border-left: 1px solid;
}
.lvl-9 {
    border-color: #ebebebaa;
}
.lvl-8 {
    border-color: #d7d7d7aa;
}
.lvl-7 {
    border-color: #c4c4c4aa;
}
.lvl-6 {
    border-color: #b0b0b0aa;
}
.lvl-5 {
    border-color: #9c9c9caa;
}
.lvl-4 {
    border-color: #898989aa;
}
.lvl-3 {
    border-color: #757575aa;
}
.lvl-2 {
    border-color: #626262aa;
}
.lvl-1 {
    border-color: #4e4e4eaa;
}
.lvl-0 {
    border-color: #3a3a3aaa;
}
.data {
    margin-bottom: .3rem;
    max-width: 960px;
}
.comments .data,
#content .data {
    border: none;
}
.text-plain {
    white-space: pre;
    font-family: monospace;
    /*overflow: auto;*/
    line-height: revert;
}
.text-plain > header {
    white-space: normal;
    font-family: revert;
}
#reply {
    margin-top: 1em;
    clear: both;
}
#reply, #new, #login {
    max-width: 80ex;
}
#reply fieldset legend,
#new fieldset legend,
#login fieldset legent {
    padding: 0 2ex;
}
#reply textarea,
#new textarea {
    width: 100%;
}
#reply label,
#new label,
#login label {}
menu.meta-items {
    display: inline;
    margin: 0;
    text-align: center;
    padding-left: 1em;
}
menu#bottom {
    float:right;
}
menu.meta-items li,
menu#bottom li {
    display: inline;
    margin: 0;
}
menu.meta-items:before {
    content: " [";
    padding-right: .1em;
}
menu.meta-items:after {
    content: "]";
    padding-left: .1em;
}
menu.meta-items a::before {
    font-weight: 900;
    padding: 0 .2rem;
}
a.to-item:before {
    content: "¶";
    font-family: "Awesome";
    font-weight: 800;
}
.comments a.to-parent,
.comments a.to-op {
    display: none;
}
a.to-parent:before {
    content: "\2303";
    font-weight: 800;
}
a.to-op:before {
    content: "\f102";
    font-family: "Awesome";
    font-weight: 900;
}
menu#top li {
    display:inline-block;
}
menu#top li:first-child::before,
menu#bottom li:first-child::before {
    content: "";
}
menu#top li::before,
menu#bottom li::before {
    content: " | ";
}
.new-acct-details {
    display: block;
    float: right;
    width: 50%;
    text-align: center;
}
.details-agree {
    font-size: .8em;
}
.details-agree input[type=checkbox] {
    position: relative;
    top: 3px;
}
hr {
    border-color: WindowText;
}
.inverted hr {
    border-color: Window;
}
time::before {
    content: "\f017  ";
    font-family: "Awesome";
    font-size: 0.7em;
}
fieldset {
    padding: 1rem;
}
form label {
    min-height: 1.8rem;
    line-height: 1.8rem;
}
