#moderate > details {
    display: inline-block;
}
#moderate > details aside, #user details summary {
    margin: .2em 0;
}
#moderate > details summary h2, details summary nav {
    display: inline-block;
    align-self: end;
}
#moderate > details aside nav {
    margin-top: .4em;
}
.moderate article section {
    grid-area: main;
    align-self: center;
    margin-left: 1ex;
}
.moderate article {
    display: grid;
    grid-template-columns: 1.6rem 11fr;
    grid-template-areas: "sidebar main";
}
.moderate article section footer * {
    display: inline-block;
}
.moderate article section footer {
    opacity: .6;
    line-height: 1.12rem;
}
