.moderation details[open] summary {
    float: left;
    margin-right: .4rem;
}
.moderation details {
    font-size: .95em;
    clear: both;
    margin: .3em 0 .5em 0;
}
.moderation-request + .score, .follow-request + .score, .account + .score {
    grid-template-rows: 1.2em 1.5em;
    min-height: 2.6em;
}
.moderation-request details {
    padding: .2em 0;
    margin-top: .2em;
}
.moderation-request details+details {
    margin-top: 0;
}
.moderation-request summary {
    font-weight: bold;
    margin-bottom: .2em;
}
