html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, b, u, i, center, a, details, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
}
figcaption {
    font-size: small;
}
pre, code, samp, kbd {
    font-family: monospace;
    font-size: 0.9em;
}
pre code, pre samp, pre kbd {
    font-size: 1em;
}
pre kbd { }
pre {
    padding: 0.5em;
    overflow: auto;
}
h1 { font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 125%; }
h4 { font-size: 112%; }
h5 { font-size: 98%; }
h6 { font-size: 95%; }
body {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
