.children {
    font-size: .94em;
    margin-left: .3em;
}
main > .children {
    margin-left: unset;
}
li details .children > li {
    padding: .5rem 0 .5rem 1rem;
}
main > .children > li {
    padding: .5rem 0 .5rem 0;
}
main > .children, main > .children summary {
    border-left-width: unset;
    border-left-style: unset;
}
main > .children details > summary {
    margin-left: unset;
    padding: unset;
}
.children details[open] { }
.children details:not([open]) { }
.children details {
    margin: .3em 0 0 1rem;
}
.children details > summary {
    margin-left: .3em;
    padding: 0 0 0 1em;
}
.children details > summary span {
    opacity: .6;
}
.children details > summary::-webkit-details-marker {
    opacity: .3;
}
.children, .children summary {
    border-left-width: 1px;
    border-left-style: solid;
}
.children > li span.score, .top-level > li span.score {
    min-height: 3.5em;
    grid-area: sidebar;
    align-content: start;
}
.children > li article {
    margin-left: -.2em;
}
.children > li article, .top-level > li article {
    grid-area: main;
    align-self: center;
    /*margin-left: 1ex;*/
}
.children > li nav, .top-level > li nav {
    grid-area: footer;
    margin-left: .4em;
    align-self: start;
}
.children .data, #content .data {
    border: none;
}
.child {
    font-size: .9rem;
}
.lvl-0 {
    border-color: #ebebebaa;
}
.lvl-1 {
    border-color: #d7d7d7aa;
}
.lvl-2 {
    border-color: #c4c4c4aa;
}
.lvl-3 {
    border-color: #b0b0b0aa;
}
.lvl-4 {
    border-color: #9c9c9caa;
}
.lvl-5 {
    border-color: #898989aa;
}
.lvl-6 {
    border-color: #757575aa;
}
.lvl-7 {
    border-color: #626262aa;
}
.lvl-8 {
    border-color: #4e4e4eaa;
}
.lvl-9 {
    border-color: #3a3a3aaa;
}
