#user > details {
    display: inline-block;
}
#user > details aside, #user details summary {
    margin: .2em 0;
}
#user > details summary h2, details summary nav {
    display: inline-block;
    align-self: end;
}
#user > details aside nav {
    margin-top: .4em;
}
#invites {
    height: 3rem;
}
details#invites summary {
    margin-right: .3rem;
    margin-top: .3rem;
}
details#invites summary, #invites form {
    float: left;
}
.pub-key details[open] {
    clear: both;
}
.pub-key details[open] pre {
    max-width: 65ex;
    font-size: .8em;
    right: .5em;
    padding: .2em;
    text-align: justify;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 2px -2px var(--main-fg-color);
    background-color: var(--main-bg-color);
}
#user details aside ul {
    display: inline-block;
}
#user details aside ul li {
    display: inline;
    padding-right: 0;
}
#user details aside ul li:not(:last-child)::after {
    content: "\22c5";
}
