<form method="post">
    <fieldset {{ if .Content.Hash }}data-reply="{{.Content.Hash }}"{{end}}>
        <textarea name="data" id="submit-data" cols="80" rows="5" required></textarea><br/>
    {{- if not .Content.Hash -}}
        <label for="submit-title">Title: </label><br/>
        <textarea name="title" id="submit-title" rows="2" required></textarea><br/>
    {{- end -}}
    {{ if .Content.Hash }}
        <input type="hidden" name="parent" id="submit-parent" value="{{.Content.Hash}}"/>
    {{- end -}}
        <input type="hidden" name="mime-type" id="submit-mime-type" value="text/markdown"/>
        <button type="submit">{{ if not .Content.Hash }}Submit {{icon "reply" "vmirror"}}{{else}}Reply {{icon "reply" "hmirror" }}{{end}}</button>
    </fieldset>
</form>
