<!DOCTYPE html>
<html lang="en">
<head>
{{ template "head.html" . }}
</head>
<body>
{{ template "header.html" }}
<section class="submission" id="content" data-hash="{{.Content.Hash}}">
{{template "score.html" .Content.Content}}
{{template "link.html" .Content.Content}}
{{template "data.html" .Content.Content}}
 {{template "meta.html" .Content.Content}}
</section>
<section id="reply">
{{template "submit.html" . }}
</section>
<section id="items">
{{ template "comments.html" .Content }}
</section>
<footer>
{{template "footer.html" . }}
</footer>
</body>
</html>