<!DOCTYPE html>
<html lang="en">
<he1ad>
{{- template "head.html" . -}}
</he1ad>
<body{{ if .InvertedTheme }} class="inverted"{{end}}>
{{ template "header.html" }}
<section class="submission op" id="i-{{.Content.Hash}}" data-hash="{{.Content.Hash}}">
    {{template "score.html" .Content.Content}}
    {{template "link.html" .Content.Content}}
    {{template "data.html" .Content.Content}}
    {{template "meta.html" .Content.Content}}
</section>
<section id="reply">{{template "submit.html" . }}</section>
<section id="items">{{ template "comments.html" .Content }}</section>
<footer>{{template "footer.html" . }}</footer>
</body>
</html>