<!DOCTYPE html>
<html lang="en" class="{{ if isInverted }} inverted{{end}}">
<head>
{{- template "partials/head" . -}}
</head>
<body class="{{current}}">
<header>{{ template "partials/header" . }}</header>
<main>
{{ yield -}}
</main>
<footer>
{{- template "partials/footer" . -}}
</footer>
{{- template "partials/flash" -}}
{{ asset "icons.svg" }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
