<!DOCTYPE html>
<html lang="en" class="{{ if isInverted }}inverted{{end}}">
<head>
{{ template "partials/head" . -}}
</head>
{{- $account := CurrentAccount }}
<body>
<header>{{ template "partials/header" . }}</header>
<main class="{{current}}">
{{ yield -}}
</main>
<footer>
{{- template "partials/footer" . -}}
</footer>
{{$js := "/js/main.js"}}
<script type="application/json" id="currentUser">{{$account}}</script>
<script type="application/json" id="flashMessages">{{LoadFlashMessages}}</script>
<script src="{{$js}}" async></script>
{{ svg "icons.svg" }}
</body>
</html>
