{{- if .Items | len -}}
{{- template "partials/items" .Items -}}
{{- else -}}
<section id="no-items"><p>There's only dust here.</p></section>
{{ end -}}
{{ if CanPaginate . -}}
{{ if or (gt (len .PrevPage) 0) (gt (len .NextPage) 0) -}}
<nav>
    View more:
    <ul>
        {{ if gt (len .PrevPage) 0 -}}
        <li><a href="{{ .PrevPage | PrevPageLink }}" rel="prev">{{icon "angle-double-left"}} prev</a></li>
        {{- end -}}
        {{ if gt (len .NextPage) 0 -}}
        <li><a href="{{.NextPage | NextPageLink }}" rel="next">next {{icon "angle-double-right"}}</a></li>
        {{- end}}
    </ul>
</nav>
{{- end -}}
{{ end -}}
