{{ $count := len .Children }}
{{- if gt $count 0 -}}
{{- $items := Sort .Children -}}
{{- $class := "top-level" -}}
{{- if le .Level 10 }}
{{- $class = "children" -}}
{{- end -}}
<ol class="{{ $class }} {{ . | Level }}" {{- if .ID.IsValid }} data-parent="{{ .ID }}" id="c-{{ .ID }}"{{- end -}}>
    {{- range $key, $value := $items -}}
    <li data-index="{{$key}}" data-hash="{{.ID}}" id="li-{{.ID}}">{{ template "partials/list-item" $value }}</li>
    {{- end }}
</ol>
{{- else -}}
<p>There's only dust here.</p>
{{ end -}}
