<nav class="moderation-hdr">
    <form method="get">
        <label for="which-moderators">Moderator</label>
        <select name="m" id="which-moderators">
            <option value="all" {{- if urlValueContains "m" "all" }} selected{{- end -}}>(all)</option>
            <option value="users"{{- if urlValueContains "m" "users" }} selected{{- end -}}>(users)</option>
        </select>
        <label><input type="checkbox" name="t" value="i"{{- if urlValueContains "t" "i" }} checked{{- end -}}/> Items</label>
        <label><input type="checkbox" name="t" value="c"{{- if urlValueContains "t" "c" }} checked{{- end -}}/> Comments</label>
        <label><input type="checkbox" name="t" value="u"{{- if urlValueContains "t" "u" }} checked{{- end -}}/> Users</label>
{{/* }}
        <label><input type="checkbox" name="t[]" value="d"{{- if urlValueContains "t" "d" }} checked{{- end -}}/> Domains</label>
        <label><input type="checkbox" name="t[]" value="t"{{- if urlValueContains "t" "t" }} checked{{- end -}}/> Tags</label>
        <label><input type="checkbox" name="t[]" value="in"{{- if urlValueContains "t" "in" }} checked{{- end -}}/> Instances</label>
{{ */}}
        <button type="submit">Filter</button>
    </form>
</nav>
{{ template "listing" . }}
