<section class="acct acct-info">
    <h2>{{- if .User.HasIcon }}<img src="{{.User.Metadata.Icon.URI}}" alt="{{.User.Handle}}" class="avatar" />{{ end -}}
        <span class="by">{{.User.Handle}}</span>
{{- if ShowFollowLink CurrentAccount .User -}}
        <span class="follow"><a alt="Follow user {{ .User.Handle }}" title="Follow user {{ .User.Handle }}"  href="{{ .User | AccountPermaLink }}/follow">{{ icon "star" }}</a></span>
{{- end -}}
    </h2>
{{- if not .User.CreatedAt.IsZero }}
    <section class="join">Joined <time datetime="{{ .User.CreatedAt | ISOTimeFmt | html }}" title="{{ .User.CreatedAt | ISOTimeFmt }}">{{ .User.CreatedAt | TimeFmt }}</time></section>
{{- end }}
    <section>Score <data title="{{.User.Score | NumberFmt }}" class="score {{- .User.Score | ScoreClass -}}">{{ .User.Score | ScoreFmt}}</data></section>
{{- if CurrentAccount.IsLogged }}
    {{- if .User.HasPublicKey }}
    <section class="pub-key"><details><summary>PublicKey</summary><pre>{{.User.Metadata.Key.Public | fmtPubKey }}</pre></details></section>
    {{- end -}}
{{ end -}}
{{- if not (sameHash .User.Hash CurrentAccount.Hash) }}
    <details id="private-message">
    <summary><span>Message user</span></summary>
    {{ template "partials/content/edit" -}}
    </details>
{{ end -}}
</section>
{{ template "listing" . }}
