<section class="acct acct-info">
    <h2><span class="by">{{.User.Handle}}</span></h2>
    <section>Score: <span title="{{.User.Score | NumberFmt }}" class="score {{- .User.Score | ScoreClass -}}">{{ .User.Score | ScoreFmt}}</span></section>
{{ if CurrentAccount.IsLogged }}
    {{- if not .User.CreatedAt.IsZero }}
        <section class="joined">Join date: <time datetime="{{ .User.CreatedAt | ISOTimeFmt | html }}" title="{{ .User.CreatedAt | ISOTimeFmt }}">{{ .User.CreatedAt | TimeFmt }}</time></section>
    {{ end -}}
    {{- if .User.HasPublicKey }}
    <section class="pub-key">PublicKey : <pre>{{.User.Metadata.Key.Public | fmtPubKey }}</pre></section>
    {{ end -}}
{{ end }}
</section>
{{ template "listing" . }}
