<section class="acct acct-info">
    <h2><span class="by">{{.User.Handle}}</span></h2>
    <section>Score: <span title="{{.User.Score | NumberFmt }}" class="score {{- .User.Score | ScoreClass -}}">{{ .User.Score | ScoreFmt}}</span></section>
    {{- if gt (len .User.Metadata.Key.Public) 0 }}
    <section class="pub-key">PublicKey : {{.User.Metadata.Key.Public}}</section>
    {{ end -}}
    {{- if not .User.CreatedAt.IsZero }}
    <section class="joined">Joined date : <time datetime="{{ .User.CreatedAt | ISOTimeFmt | html }}" title="{{ .User.CreatedAt | ISOTimeFmt }}">{{ .User.CreatedAt | TimeFmt }}</time></section>
    {{ end -}}
</section>
{{ template "listing" . }}
