{{- $isPerson := not (or .IsApplication (or .IsGroup .IsService)) -}}
{{- if gt (len .Handle) 0 }}
{{- if .Deleted }}
<del class="title">{{- if .HasIcon -}}{{- Avatar .Metadata.Icon.MimeType .Metadata.Icon.URI -}}{{- else -}}{{- icon "user" "avatar" -}}{{- end -}}
{{- .Handle -}}</del>
{{- else -}}
{{ if $isPerson }}
<a href="{{ PermaLink . }}">
{{- if .HasIcon -}}{{- Avatar .Metadata.Icon.MimeType .Metadata.Icon.URI -}}{{- else -}}{{- icon "user" "avatar" -}}{{- end -}}
{{- .Handle -}}
</a>
{{- else -}}
{{- .Handle -}}
{{- end -}}
{{- end -}}
{{- else -}}
<span>
    Pending invitation
{{ if and (eq current "user") (sameHash .CreatedBy.ID CurrentAccount.ID) -}}
    <a title="Open email client" href="{{ invitationLink . }}">{{icon "email" }}</a>
</span>
<span>
    <small>(Clicking the envelope link requires you to have a mail client set up to handle "mailto:" links)</small>
{{- end }}
</span>
{{- end -}}
{{- template "partials/account/meta" . -}}
