{{- $it := . -}}
<footer>
    <small>{{ if not .Deleted}}{{- if ShowUpdate $it }}invited<time class="updated-at" datetime="{{ $it.UpdatedAt | ISOTimeFmt | html }}" title="accepted on {{ $it.UpdatedAt | ISOTimeFmt }}"><sup>&#10033;</sup></time> {{- else -}}created{{- end }} <time class="submitted-at" datetime="{{ $it.CreatedAt | ISOTimeFmt | html }}" title="{{ $it.CreatedAt | ISOTimeFmt }}">{{ icon "clock-o" }}{{ $it.CreatedAt | TimeFmt }}</time>{{- end -}}
    {{- if and (ne current "user") $it.CreatedBy.IsValid }} by <a class="by" rel="mention" href="{{ $it.CreatedBy | PermaLink }}">{{ $it.CreatedBy | ShowAccountHandle }}</a>{{end}}</small>
{{- /*
    <nav>
        <ul>
{{ if and CurrentAccount.IsValid $it.CreatedBy.IsValid -}}
            <small><li><a href="{{$it | AccountLocalLink }}/msg" title="Message{{if .Handle}}: {{$it.Handle }}{{end}}"><!--{{icon "edit"}}-->message</a></small></li>
            <small><li><a href="{{$it | AccountLocalLink }}/bad" title="Report{{if .Handle}}: {{$it.Handle }}{{end}}"><!--{{ icon "flag"}}-->report</a></small></li>
{{- end }}
        </ul>
    </nav>
*/ -}}
</footer>
