<details>
    <summary>
        <h2>
            {{- if .HasIcon -}}{{- Avatar .Metadata.Icon.MimeType .Metadata.Icon.URI -}}{{- else -}}{{- icon "user" "avatar" -}}{{- end -}}
            {{- .Handle -}}
        </h2>
        {{ $score := .Votes.Score -}}
        {{- if gt $score 0 }}<small><data class="score {{ $score | ScoreClass -}}">{{  $score | ScoreFmt}}</data></small>{{ end -}}
    </summary>
{{- if not .CreatedAt.IsZero }}
    <aside>
        Joined <time datetime="{{ .CreatedAt | ISOTimeFmt | html }}" title="{{ .CreatedAt | ISOTimeFmt }}">{{ .CreatedAt | TimeFmt }}</time><br/>
{{- end }}
{{- if gt (len .Metadata.Tags) 0 }}
    Tags: <ul>
        {{- range $tag := .Metadata.Tags -}}
        {{ if gt (len $tag.Name) 0 -}} <li> {{$tag | outputTag }} </li>{{- end -}}

        {{- end -}}
    </ul>
{{ end -}}
{{- if CurrentAccount.IsLogged }}
    {{- if .HasPublicKey }}
        <section class="pub-key"><details><summary>PublicKey</summary><pre>{{.Metadata.Key.Public | fmtPubKey }}</pre></details></section>
    {{- end -}}
{{ end -}}
    </aside>
</details>
{{- if CurrentAccount.IsLogged }}
{{- if sameHash .ID CurrentAccount.ID }}
    {{ template "partials/user/invite" . -}}
{{ else }}
    <nav>
        <ul>
            {{ if not (sameHash .ID CurrentAccount.ID) }}<li><a title="Message user {{ .Handle }}" href="{{ . | PermaLink }}/message">{{ icon "edit" "v-mirror" }} Message</a></li>{{- end -}}
            {{- if or (ShowFollowLink .) (AccountFollows .) }}
                <li>
                    {{- if ShowFollowLink . -}} <a title="Follow user {{ .Handle }}" href="{{ . | PermaLink }}/follow">{{ icon "star" }} Follow</a>{{- end -}}
                    {{- if AccountFollows . }}{{ icon "star" }} Followed{{- end -}}
                </li>{{- end -}}
            {{- if or (ShowAccountBlockLink .) (AccountIsBlocked .) }}
                <li>
                    {{- if ShowAccountBlockLink . -}}<a title="Block user {{ .Handle }}" href="{{ . | PermaLink }}/block">{{ icon "block" }} Block</a>{{- end -}}
                    {{- if AccountIsBlocked . }}{{ icon "block" }} Blocked{{- end -}}
                </li>{{- end }}
            {{- if ShowAccountReportLink . }}
                <li>
                    <a title="Report user {{ .Handle }}" href="{{ . | PermaLink }}/bad">{{ icon "flag" }} Report</a>
                </li>{{- end }}
        </ul>
    </nav>
{{- end }}
{{ end }}
