<details>
    <summary>
        <h2 style="display: inline-block">
            {{- if .HasIcon -}}<img src="{{.Metadata.Icon.URI}}" alt="{{.Handle}}" class="avatar" />{{- else -}}{{- icon "user" "avatar" -}}{{- end -}}
            {{- .Handle -}}
            {{- /*}}{{- if gt .Score 0 }}<data class="score {{- .Score | ScoreClass -}}">{{ .Score | ScoreFmt}}</data> {{ end -}}
            <nav style="display:inline-block">
                <ul>
                    <li><a href="{{ .Metadata.ID }}" data-hash="{{ .Hash }}" title="ActivityPub link{{if .Handle}}: {{.Handle }}{{end}}">{{icon "activitypub"}}</a></li>
                </ul>
            </nav>{{*/ -}}
        </h2>
    </summary>
{{- if not .CreatedAt.IsZero }}
    <aside>
        Joined <time datetime="{{ .CreatedAt | ISOTimeFmt | html }}" title="{{ .CreatedAt | ISOTimeFmt }}">{{ .CreatedAt | TimeFmt }}</time><br/>
{{- end }}
{{- if CurrentAccount.IsLogged }}
        <nav>
            <ul>
                {{ if not (sameHash .Hash CurrentAccount.Hash) }}<li><a title="Message user {{ .Handle }}" href="{{ . | AccountPermaLink }}/message">{{ icon "edit" "v-mirror" }} Message</a></li>{{- end -}}
                {{- if or (ShowFollowLink .) (AccountFollows .) }}
                <li>
                   {{- if ShowFollowLink . -}} <a title="Follow user {{ .Handle }}" href="{{ . | AccountPermaLink }}/follow">{{ icon "star" }} Follow</a>{{- end -}}
                   {{- if AccountFollows . }}{{ icon "star" }} Followed{{- end -}}
                </li>{{- end -}}
                {{- if or (ShowAccountBlockLink .) (AccountIsBlocked .) }}
                <li>
                    {{- if ShowAccountBlockLink . -}}<a title="Block user {{ .Handle }}" href="{{ . | AccountPermaLink }}/block">{{ icon "block" }} Block</a>{{- end -}}
                    {{- if AccountIsBlocked . }}{{ icon "block" }} Blocked{{- end -}}
                </li>{{- end }}
                {{- /*}}
                {{- if ShowAccountReportLink . }}
                <li>
                    <a title="Report user {{ .Handle }}" href="{{ . | AccountPermaLink }}/bad">{{ icon "flag" }} Report</a>
                </li>{{- end }}
                {{ */ -}}
            </ul>
        </nav>
    {{- if .HasPublicKey }}
        <section class="pub-key"><details><summary>PublicKey</summary><pre>{{.Metadata.Key.Public | fmtPubKey }}</pre></details></section>
    {{- end -}}
{{ end -}}
{{- if sameHash .Hash CurrentAccount.Hash }}
    {{ template "partials/user/invite" -}}
{{- end }}
    </aside>
</details>
